.text-platzi{
    color: #97c93e !important;
}

.btn-platzi{
    background-color: #97c93e;
    color: white;
}

.btn-platzi:hover{
    background-color: #82ad36;
    color: white;
}

#header img{
    width: 80px; 
}

#main .carousel-inner img{
    filter: grayscale(70%);
    object-fit: cover;
    max-height: 70vh; 
}

#carousel{
    position: relative;
}

#carousel .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: white;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; 
}

#place-time{
    background-color: #334433;
    color: white;
}
#place-time img{
    max-width: 100%;
}

.overlay{
   z-index: 2;
}

#carousel .overlay .container,
#carousel .overlay .row {
   height: 100%; 
}

#footer{
    background: linear-gradient(90deg, rgb(28, 54, 67) 0px, rgb(39, 59, 71) 25%, rgb(30, 83, 114));  
 }

 #footer a{
    color: white;
 }

